TELEGRAM_TOKEN=your_telegram_bot_token_here
# пример строки подключения для psycopg2:
DATABASE_URL=postgresql+psycopg2://USER:PASSWORD@HOST:5432/DBNAME
OPENAI_API_KEY=your_openai_api_key_here
OPENAI_ORGANIZATION=your_openai_organization_id_here
GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here
EVENTBRITE_API_KEY=your_eventbrite_public_token_here
GOOGLE_APPLICATION_CREDENTIALS=gcp-key.json
DEFAULT_RADIUS_KM=5
